* {
    margin: 0;
    padding: 0;
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
.reveal {
    transform: scale(0.9);
    opacity: 0;
    transition: all 3s ease;
}

.reveal.active {
    transform: scale(1);
    opacity: 1;
}

.rev {
    transform: translateX(-100px);
    transition: all 2s ease;
}

.rev.active {
    transform: translateX(0);
}