body {
  overflow-x: hidden;
}

.login-container {
  position: absolute;
  top: 20%;
  left: 38%;
  width: 25em;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  height: 50vh;
  /* animation: zoomIn 2s ease-in-out forwards;
  transform-origin: center; */
}

.register-container {
  position: absolute;
  top: 12%;
  left: 38%;
  width: 25em;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  height: 70vh;
}

.login-inputs,
.register-inputs {
  text-align: center;
}

.login-header,
.register-header {
  font-size: 30px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.login-email,
.login-password,
.register-username,
.register-email,
.register-password,
.register-mobile {
  width: 80%;
  margin-bottom: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  margin-top: 15px;
  font-size: 16px;
  background-color: whitesmoke;
  border: none;
  border-bottom: 2px solid #03045e;
}

.login-submit,
.register-submit {
  background-color: #03045e;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 45px;
  margin-bottom: 28px;
  font-size: 16px;
  width: 8em;
}
.login-submit:hover,
.register-submit:hover {
  background-color: #00509d;
}
.login-register-icon1 {
  color: grey;
  position: absolute;
  right: 70px;
  top: 140px;
}
.login-register-icon2 {
  color: grey;
  position: absolute;
  right: 70px;
  top: 220px;
}
.login-register-icon3 {
  color: grey;
  position: absolute;
  right: 70px;
  top: 140px;
}
.login-register-icon4 {
  color: grey;
  position: absolute;
  right: 70px;
  top: 220px;
}
.login-register-icon5 {
  color: grey;
  position: absolute;
  right: 70px;
  top: 300px;
}
.login-register-icon6 {
  color: grey;
  position: absolute;
  right: 70px;
  top: 380px;
}
.login-optionals,
.register-optionals {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
}

.no-account {
  margin-top: 20px;
}

.no-account,
.have-account {
  display: inline-block;
  margin-right: 10px;
  white-space: nowrap;
}

.forget-password {
  margin-bottom: 5px;
}

.login-to-register,
.register-to-login {
  color: #03045e;
  cursor: pointer;
  display: inline;
  padding-left: 5px;
}

.validation-message {
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.validation-message::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.validation-message.valid::before {
  content: '\2714';
  color: green;
}

.validation-message.invalid::before {
  content: '\2718';
  color: red;
}

.validation-message.valid {
  color: green;
}

.validation-message.invalid {
  color: red;
}
.register-role {
  width: 87%;
  margin-bottom: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
  margin-top: 15px;
  font-size: 16px;
  background-color: whitesmoke;
  border: none;
  border-bottom: 2px solid #03045e;
}
@media (max-width: 768px) {

  .login-container,
  .register-container {
    left: 18%;
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

.circle1 {
  width: 70%;
  height: 140%;
  background-color: #ff8fab;
  border-radius: 50%;
  position: absolute;
  left: -20%;
  top: -50%;
  animation: circle1Animation 2s ease-in-out forwards;
}

.circle2 {
  width: 70%;
  height: 140%;
  border-radius: 50%;
  background-color: #0077b6;
  position: absolute;
  right: 50%;
  bottom: 20%;
  overflow: hidden;
  animation: circle2Animation 2s ease-in-out forwards;
}
@keyframes circle1Animation {
  from {
    top: 0;
    left: 0;
  }
  to {
    top: -50%;
    left: -20%;
  }
}

@keyframes circle2Animation {
  from {
    top: 100%;
    left: 100%;
  }

  to {
    top: 20%;
    left: 50%;
  }
}