.content {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 10px;
    min-height: 830px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-btn {
    border: 1px solid #ef233c;
    color: white;
    background-color: #ef233c;
    padding: 14px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    width: 10em;
    margin-top: 20px;
}

.welcome {
    font-size: 5em;
    font-family: 'Nunito Sans', sans-serif;
}

.explore {
    padding-top: 20px;
    font-size: 3em;
    font-family: 'Nunito Sans', sans-serif;
}

.shopping {
    mix-blend-mode:multiply ;
    width: 45em;
    height: 45em;
}

.right {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 100%;
        min-height: auto;
    }

    .right {
        margin-top: 20px;
        margin-right: 0;
    }
    .shopping{
        width: 35em;
        height: 35em;
    }
    .left, .right {
        text-align: center;
    }
}
