.mens-coll{
    display: grid;
    grid-template-columns: 40% 60%;
    height: 55em;
    margin-top: 4em;
}
.men-left{
    background-color: white;
    margin-top: 2em;
    padding-left: 3em;
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
}
.men-right{
    margin-top: 3em;
    margin-left: 5em;
}
.reveal {
    transform: translateX(100px);
    transition: all 2s ease;
}

.reveal.active {
    transform: translateX(0);
}
.rev {
    transform: translateX(-100px);
    transition: all 2s ease;
}

.rev.active {
    transform: translateX(0);
}