.men-container {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 910px;
    overflow: hidden;
}

.men-left {
    padding-left: 4em;
    padding-top: 4em;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.men-right {
    padding-top: 6em;
}

.menimage {
    width: 90%;
    height: 90%;
}

.reveal {
    transform: translateX(100px);
    transition: all 2s ease;
}

.reveal.active {
    transform: translateX(0);
    opacity: 1;
}

.rev {
    transform: translateX(-100px);
    transition: all 2s ease;
}

.rev.active {
    transform: translateX(0);
}

.men-center {
    padding: 6em 0;
    display: flex;
    justify-content: center;
}
.men-slider{
    position: absolute;
    left: 20%;
    top: 140%;
    width: 60%;
}
.slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.slider-arrow {
    font-size: 24px;
    cursor: pointer;
}

.slider-arrow.left {
    margin-left: 10px;
    background-color: coral;
    border-radius: 50%;
    padding: 10px;
}

.slider-arrow.right {
    margin-right: 10px;
    background-color: coral;
    border-radius: 50%;
    padding: 10px;
}

.slider-arrow:hover {
    color: #ccc;
}

.slick-slider {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.cards {
    padding: 0 10px;
}

.card-img {
    width: 90%;
    height: 90%;
}
.slick-prev,
.slick-next {
    display: none;
}

