.newarrivals-container {
    min-height: 910px;
    overflow: hidden;
}

.new-content {
    text-align: center;
    font-size: 48px;
    margin-top: 3em;
    font-family: 'Poppins', sans-serif;
}

.new-des {
    text-align: center;
    font-size: 24px;
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.new-slider {
    position: relative;
    width: 100%;
}

.new-center {
    padding: 5em 0;
    display: flex;
    justify-content: center;
}

.news {
    padding: 0 20px;
    text-align: center;
}

.new-img {
  width: 18rem;
  margin-bottom: 1rem;
}

.item-des {
    padding-top: 20px;
}

.item-des,
.item-price,
.item-ratings {
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.new-arrows {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    color: black;
    padding-left: 40px;
}

.new-arrows .new-arrow {
    font-size: 24px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .new-slider {
        width: 90%;
        padding-left: 40px;
    }
    .new-arrows {
        display: none;
    }
}
