.women-container{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: green;
    min-height: 910px;
    overflow: hidden;
}
.women-left {
    padding-top: 5em;
    float: right;
    display: flex;
    justify-content: flex-end;
  }
.women-right{
    padding-left: 5em;
    padding-top: 5em;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}
.womenimage{
    width:90%;
    height: 90%;
}
.reveal {
    transform: translateX(100px);
    transition: all 2s ease;
}
.reveal.active {
    transform: translateX(0);
}
.rev{
    transform: translateX(-100px);
    transition: all 2s ease;
}
.rev.active {
    transform: translateX(0);
}