.dashboard-container {
    display: grid;
    grid-template-columns: 15% 85%;
    min-height: 911px;
}

.dashboard-left {
    background-color: #415a77;
    color: white;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#myfileSingle {
    display: none;
}

.custom-file-input {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 330px;
    border: 2px dotted var(--upload-div-color);
    margin-top: 40px;
    margin-right: 50px;
    font-size: 20px;
}

.dashboard-name {
    font-size: 22px;
}

.dash-logout {
    color: white;
}
.dashboard-right{
    background-color: whitesmoke;
}
.divider-content {
    border-top: 1px solid #ccc;
    width: 90%;
    height: 0;
    margin: auto;
}
.dashboard-body {
    margin-top: 5px;
    padding: 20px;
    color: white;
    font-size: 22px;
}

.dashboard-body:hover {
    background-color: #778da9;
}

.d-board {
    text-decoration: none;
}

.dashboard-right {
    background-color: whitesmoke;
}

.d-right-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    padding: 10px;
    margin-top: 20px;
}

.notifications {
    padding-left: 30px;
}
.dashboard-container.dark-theme {
    --background-color: #14213d;
    --text-color: white;
    --card-color: #415a77;
    --border-color: #edf2f4;
    --input-selection-color: #778da9;
    --upload-div-color: #778da9;
}

.dashboard-container.dark-theme .dashboard-left {
    background-color: #023047;
}

.dashboard-container.dark-theme .dashboard-right {
    background-color: #14213d;
    color: white;
}
.product-total{
    display: flex;
    flex-direction: row;
}
.product-card1,
.product-card2,
.product-card3 {
    width: 25%;
    height: 100px;
    background-color: var(--card-color);
    border-radius: 5px;
    padding: 30px;
    margin: 30px;
    border: 1px solid var(--border-color);
}
.addproducts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.input-field.product-name {
    margin-right: 60px;
}
.add-right{
    margin-left: 30px;
}
.input-field,
.select-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    background-color: var(--input-selection-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
}

.input-field:focus,
.select-field:focus {
    outline: none;
    border-color: #14213d;
}

.select-file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 330px;
    border: 2px dotted var(--upload-div-color);
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 20px;
}

.select-file:hover {
    background-color: var(--upload-div-color);
}

.file-img {
    padding-right: 10px;
}

.right-header-title {
    font-size: 22px;
    padding-left: 20px;
}

.card1-title,
.card2-title,
.card3-title {
    font-size: 30px;
    padding-bottom: 10px;
}

.card1-count,
.card2-count,
.card3-count {
    font-size: 25px;
    padding-top: 10px;
}

.divider-content1 {
    border-top: 2px solid #ccc;
    width: 100%;
    height: 0;
    margin: auto;
}

.display-custom-products,
.list-available {
    padding: 20px;
}

.select-field1 {
    width: 50%;
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.select-field1:focus {
    outline: none;
    border-color: #14213d;
}

.product-revenue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-available {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 16px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 20em;
    margin-top: 3em;
}

.select-img {
    width: 18rem;
    margin-bottom: 1rem;
}

.selected-images-list {
    display: flex;
    flex-direction: column;
}

.delete-button {
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    margin-left: 60px;
}

.addItemsToStorage {
    padding: 10px;
    width: 100px;
    margin-left: 50%;
    color: white;
    background-color: #52b788;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.input-field::placeholder {
    color: black;
}
.dashboard-container:not(.dark-theme) .product-card1,
.dashboard-container:not(.dark-theme) .product-card2,
.dashboard-container:not(.dark-theme) .product-card3 {
    background-color: wheat;
    color: black;
}

.addproducts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.add-right {
    margin-left: 30px;
}
.dashboard-container:not(.dark-theme) .select-file {
    border: 2px dotted navy;
}

.dashboard-container:not(.dark-theme) .input-field,
.dashboard-container:not(.dark-theme) .select-field {
    background-color: #f2f2f2;
    border: 1px solid rgb(179, 178, 178);
    color: black;
}

.drop {
    color: black;
    font-size: 24px;
    margin-left: auto;
}

.size-items,
.color-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.sizes,
.colors{
    width: 100%;
    color: white;
    background-color: #1d3557;
}
.checkbox-right {
    margin-left: auto;
    width:10px
}
.add-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 330px;
    height: 330px;
    margin-bottom: 6em;
}