.men-container {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 910px;
    overflow: hidden;
}

.men-left {
    padding-left: 4em;
    padding-top: 4em;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}

.men-right {
    padding-top: 6em;
}

.menimage {
    width: 90%;
    height: 90%;
}

.reveal,
.rev,
.revv {
    transition: all 2s ease;
}

.reveal.active,
.rev.active,
.revv.active {
    transform: translateX(0) translateY(0);
    opacity: 1;
}

.men-center {
    padding: 6em 0;
    display: flex;
    justify-content: center;
}

.men-slider {
    position: absolute;
    left: 20%;
    top: 130%;
    width: 60%;
}

.slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.slider-arrow {
    font-size: 24px;
    cursor: pointer;
}

.slider-arrow.left,
.slider-arrow.right {
    background-color: coral;
    border-radius: 50%;
    padding: 10px;
}

.slider-arrow.left:hover,
.slider-arrow.right:hover {
    color: #ccc;
}

.slick-slider {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.cards {
    padding: 0 10px;
}

.card-img {
    width: 90%;
    height: 90%;
}

@media (max-width: 768px) {
    .men-container {
        grid-template-columns: 100%;
    }

    .men-left {
        padding-left: 1em;
        padding-top: 1em;
        text-align: center;
    }

    .men-right {
        display: none;
    }

    .men-slider {
        left: 5%;
        top: 170%;
        width: 90%;
        padding-left: 25px;
    }
    .slider-arrow.left,
    .slider-arrow.right {
        display: none;
    }
}
