.product {
    display: flex;
    flex-direction: row;
    margin-top: 2.5em;
}

.product-left {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
}

.product-main {
    margin-left: 5em;
    margin-top: 20px;
    padding-left: 20px;
    width: 20rem;
    height: 40em;
}

.product-images {
    width: 40em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    margin-bottom: 4em;
}

.product-image {
    height: 13em;
    padding: 20px;
    cursor: pointer;
}

.product-image.yes {
    opacity: 0.5;
    border: none;
}

.product-i {
    height: 13em;
    cursor: pointer;
}

.product-right {
    margin-left: 13em;
    padding: 1em;
    padding-top: 2em;
    width: 50em;
}

.product-brand {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.product-names {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.selected-product-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.product-price {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.product-previous-price {
    text-decoration: line-through;
    color: #888;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    padding-left: 7px;
}

.product-colors {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
}

.list-color {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.color-product {
    width: 40px;
    height: 20px;
    margin-right: 10px;
    border: 3px solid white;
    outline: 1px solid black;
}

.color-product-name {
    font-size: 20px;
}

.product-sizess {
    display: flex;
    margin-bottom: 1em;
}

.sizess {
    font-size: 20px;
    margin-right: 15px;
    border-radius: 40%;
    border: 2px solid #ff758f;
    padding: 20px;
    margin-bottom: 1em;
}

.product-buttons {
    margin-bottom: 2em;
}

.more-product-details {
    margin-top: 1em;
}

.horizontal-divider {
    border-bottom: 1px solid #ddd;
    margin: 1em 0;
}
.addToBag{
    width: 90%;
    background-color: #ff758f;
    color: #fff;
    padding: 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}
.whislist-product{
    width: 90%;
    color: black;
    padding: 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}
.buy {
    width: 99%;
    color:black;
    padding: 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.addToBag:hover,
.whislist-product:hover,
.buy:hover {
    background-color: #2980b9;
    color: white;
}

.button-icon {
    margin-right: 10px;
    font-size: 1.2em;
}

.two-button-same-line {
    display: flex;
    margin-bottom: 1em;
}

.buy-button {
    margin-top: 1em;
}
.product-patterns{
    font-size: 20px;
    margin-bottom: 2em;
}
.product-description{
    font-size: 18px;
}
.ratings-head{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.ratings-icons{
    margin-left: 4px;
    margin-right: 3px;
}
.ratings-icons1{
    display: flex;
    align-items: center;
    color: green;
}
.ratings-body{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ratings-count{
    display: flex;
    flex-direction: row;
    font-size: 36px;
    margin: 25px;
}
.ratings-5,.ratings-4,.ratings-3,.ratings-2,.ratings-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ver-divider{
    width: 1px;
    height: 100%;
    background-color: grey;
}
.ratings-5 progress[value="100"]::-webkit-progress-bar{
    background-color: teal;
}
 
.ratings-4 progress[value="80"] {
    background-color: teal;
}

.ratings-3 progress[value="50"] {
    background-color: lightseagreen;
}

.ratings-2 progress[value="30"] {
    background-color: yellow;
}

.ratings-1 progress[value="5"] {
    background-color: red;
}

progress {
    height: 5px;
    width: 150px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

progress:not([value="0"]) {
    background-color: lightgrey;
}
.reviews-head{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.review-product-user{
    padding: 10px;
    border: 1px solid #ddd;
    width: 70%;
}
.user-review{
    display: flex;
    flex-direction: row;
}
.submit-review{
    margin-left: 10px;
    color: white;
    background-color: #38b000;
    border: 1px solid #38b000;
    padding: 10px;
    border-radius: 5px;
}
.similar-products{
    margin-left: 5em;
    margin-bottom: 5em;
    margin-right: 5em;
    margin-top: 3em;
    font-size: 26px;
}
.similar-card{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    z-index: -2;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}
.similar-card::-webkit-scrollbar {
    display: none;
}

.similar-card::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid transparent;
}

.similar-card::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.similar-img-result {
    width: 12rem;
}
.similar-list {
    margin: 20px;
    border: 1px solid #ededed;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.similar-title {
    margin-bottom: 1rem;
    padding-left: 10px;
    font-size: 16px;
    margin-top: 1em;
}
.similar-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    font-size: 16px;
}
.user-product-reviews{
    padding: 10px;
    font-size: 16px;
}
.rating-text{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.user-time{
    display: flex;
    flex-direction: row;
}
.username{
    margin-right: 5px;
}
.time{
    padding-left: 5px;
}
.show-more-reviews{
    padding: 10px;
    color: white;
    background-color: #ff8fa3;
    border: 1px solid #ff8fa3;
    margin-left: 25em;
    margin-top: 2em;
    border-radius: 5px;
}