.profile-details{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 10px;
    background-color: #edf6f9;
    padding: 20px;
}
.profile-centre{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.profile-details-user{
    margin: 5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
}
.personal-details,.order-history-name{
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: 600;
}
.order-history-profile{
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
}
.order-his-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}