.wishlist-products{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #edf2f4;
    gap:10px;
}
.wish-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    margin: 10px;
}
.wish-product-cards{
    margin: 20px;
    border: 1px solid #ededed;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.wish-img{
    width: 18rem;
    margin-bottom: 1rem;
}
.wish-name,.wish-brand,.wish-price{
    margin: 10px;
    font-weight: 600;
}
.wish-last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}