.women-container{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 910px;
    overflow: hidden;
}
.women-left {
    padding-top: 5em;
    float: right;
    display: flex;
    justify-content: flex-end;
  }
.women-right{
    padding-left: 5em;
    padding-top: 5em;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
}
.womenimage{
    width:90%;
    height: 90%;
}
.reveal {
    transform: translateX(100px);
    transition: all 2s ease;
}
.reveal.active {
    transform: translateX(0);
}
.rev{
    transform: translateX(-100px);
    transition: all 2s ease;
}
.rev.active {
    transform: translateX(0);
}
.revv {
    transform: translateY(100px);
    transition: all 3s ease;
}

.revv.active {
    transform: translateY(0);
    opacity: 1;
}
.women-center {
    padding: 6em 0;
    display: flex;
    justify-content: center;
}
.women-slider{
    position: absolute;
    left: 20%;
    top: 225%;
    width: 60%;
}
.slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.slider-arrow {
    font-size: 24px;
    cursor: pointer;
}

.slider-arrow.left {
    margin-left: 10px;
    background-color: coral;
    border-radius: 50%;
    padding: 10px;
}

.slider-arrow.right {
    margin-right: 10px;
    background-color: coral;
    border-radius: 50%;
    padding: 10px;
}

.slider-arrow:hover {
    color: #ccc;
}

.slick-slider {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.cardsi {
    padding: 0 10px;
}

.card-img {
    width: 90%;
    height: 90%;
}
.slick-prev,
.slick-next {
    display: none;
}

@media (max-width: 768px) {
    .women-container {
        grid-template-columns: 100%;
    }

    .women-right {
        padding-left: 1em;
        padding-top: 1em;
        text-align: center;
    }

    .women-left {
        display: none;
    }

    .women-slider {
        left: 5%;
        top: 270%;
        width: 90%;
        padding-left: 25px;
    }
    .slider-arrow.left,
    .slider-arrow.right {
        display: none;
    }
}